Repository monax-owo/launcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=. -c, prettier --check --plugin-search-dir=. -c, eslint

update Widget,add icons
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src-tauri/src/static/.lunerc.toml
  src/lib/util/drag/Widget.svelte
Due: prettier --write --plugin-search-dir=. -c, prettier --check --plugin-search-dir=. -c, eslint

fix gitignore
  .gitignore
Due: none

up
  src-tauri/src/config.rs
  src-tauri/src/main.rs
Due: none

add clippy to package scripts
  package.json
Due: prettier --write --plugin-search-dir=. -c, prettier --check --plugin-search-dir=. -c

update config.rs
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src-tauri/src/static/.lunerc.toml
Due: none

fix
  src-tauri/src/config.rs
Due: none

fix scripts
  package.json
Due: prettier --write --plugin-search-dir=. -c, prettier --check --plugin-search-dir=. -c

move file
  src-tauri/src/assets/.lunerc.toml
  src-tauri/src/static/.lunerc.toml
Due: none

update Cargo.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

fix
  src-tauri/src/suggest.rs
Due: none

update
  src-tauri/src/config.rs
  src-tauri/src/main.rs
Due: none

fix
  src-tauri/src/command.rs
  src-tauri/src/main.rs
Due: none

update package.json
  package.json
Due: prettier --write --plugin-search-dir=. -c, prettier --check --plugin-search-dir=. -c

fix main.rs
  src-tauri/src/main.rs
Due: none

fix svelte.config.js
  svelte.config.js
Due: none

update tauri.conf.json
  src-tauri/tauri.conf.json
Due: prettier --write --plugin-search-dir=. -c, prettier --check --plugin-search-dir=. -c

Path conditions:
  prettier --write --plugin-search-dir=. -c: any of: *.{[tj]sx?,svelte,[s|post]?css,md,json}
  prettier --check --plugin-search-dir=. -c: any of: *.{[tj]sx?,svelte,[s|post]?css,md,json}
  eslint: any of: *.{[tj]sx?,svelte}
