Repository monax-owo/launcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix
  .lintstagedrc
  src/routes/dev/test/drag/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix
  src/lib/util/drag/Widget.svelte
  src/lib/util/drag/drag.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix
  src/lib/util/drag/drag.ts
Due: none

update Widget.svelte
  src/lib/util/drag/Widget.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

up
  src/lib/util/drag/drag.ts
Due: none

update and fix drag.ts,Widget.svelte
  .husky/pre-commit
  .huskyrc
  src/lib/util/drag/Widget.svelte
  src/lib/util/drag/drag.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

up
  .husky/pre-commit
  .lintstagedrc
Due: none

up
  .lintstagedrc
Due: none

up
  .husky/pre-commit
Due: none

ultra update
  src/lib/util/drag/Widget.svelte
  src/lib/util/drag/drag.ts
  src/routes/dev/test/drag/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix pages
  src/routes/+page.svelte
  src/routes/dev/test/+page.svelte
  src/routes/dev/test/drag/+page.svelte
  src/routes/dev/test/suggest/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

update
  src/lib/style/util.scss
  src/lib/util/drag/Widget.svelte
  src/lib/util/drag/drag.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

format
  src/lib/style/util.scss
Due: none

fix
  src-tauri/src/main.rs
Due: none

update
  src-tauri/Cargo.lock
Due: none

update dependencies,fix main.rs
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: none

add rspc to frontend
  package.json
  pnpm-lock.yaml
  src/@types/rspc/bindings.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix
  src/@types/rspc/bindings.ts
Due: none

update,create rsoc.ts
  package.json
  pnpm-lock.yaml
  src/lib/util/rspc/rspc.ts
  svelte.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix snippets
  .vscode/lib.code-snippets
Due: none

update
  .prettierignore
  src-tauri/src/main.rs
  src/@types/rspc/bindings.d.ts
  src/routes/dev/test/+page.svelte
  src/routes/dev/test/rspc/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix comments
  src-tauri/src/main.rs
  src-tauri/src/suggest.rs
Due: none

remove rspc
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src/@types/rspc/bindings.d.ts
  src/lib/util/rspc/rspc.ts
  src/routes/dev/test/+page.svelte
  src/routes/dev/test/rspc/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

update
  .prettierignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src/@types/generated/auto-imports.d.ts
  src/@types/generated/specta/bindings.d.ts
Due: none

fix
  vite.config.ts
Due: none

fix
  remove_cache.sh
Due: none

removed remove_chache.sh
  remove_cache.sh
Due: none

removed unused files
  src/lib/util/dev.ts
  src/params/dev.ts
Due: none

prepared to create config
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src/lib/config.ts
  src/lib/stores.ts
Due: none

add clippy
  .husky/pre-commit
  src-tauri/src/main.rs
  src-tauri/src/suggest.rs
Due: none

update .husky,git hooks
  .husky/pre-commit
  .huskyrc
Due: none

fix
  .husky/pre-commit
Due: none

update Widget
  src/lib/util/drag/Widget.svelte
  src/lib/util/drag/drag.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

cargo add toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

fix
  src/lib/util/drag/Widget.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix hide
  src/routes/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{[tj]sx?,svelte,[s|post]?css,md,json}
  prettier --check --plugin-search-dir=.: any of: *.{[tj]sx?,svelte,[s|post]?css,md,json}
  eslint: any of: *.{[tj]sx?,svelte}
